.main
{
    background-size: 2500px 650px ;
    font-size:25px;
    height: 750px;
    width: 100%;
    background-color:#F3CCFF;
    border-style: solid;
    border-color: #F3CCFF;
    text-align:center;
    font-weight:bold;

}

